<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'weatherapp/css/index_views.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">

    {% block style_link %}{% endblock style_link %}
</head>
<body>
    <div class="wrapper">
        <div class="color"></div>

        {% block fone-img %}{% endblock %}

        <header>
            <img src="" alt="" class="icon">
            <h1><span style="color: rgba(255, 153, 0, 0.546);">Your</span>Weather</h1>

            <div class="menu_btn">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="phones-style">
                <ul class="border-link">
                    <li><a href="{% url 'one_page' %}">на сегодня</a></li>
                    <li><a href="{% url 'forecast' %}">на 5 дней</a></li>
                    <li><a href="{% url 'main' %}">Войти</a></li>
                    <li><a href="{% url 'registr' %}">Регистрация</a></li>
                </ul>
            </nav>
        </header>
        
        <div class="main">
            {% block content %}{% endblock %}
        </div>
        
        <footer>
            <ul>
                <li>Создатель: <span>Еремеев Антон Сергеевич</span></li>
                <li>Руководитель: <span>Савинова Наталья Владимировна</span></li>
                <li><a href="https://github.com/jksdghfhjkas/school_project">Ссылка на github проекта</a></li>
            </ul>
        </footer>

    </div>
    {% block javascript %}{% endblock %}

    <script>
        let menu_btn = document.querySelector('.menu_btn');
        let menu = document.querySelector('.border-link');
        let nav = document.querySelector('.phones-style')

        menu_btn.addEventListener('click', function(){
	        menu_btn.classList.toggle('active');
	        menu.classList.toggle('active');
            nav.classList.toggle('active');
        })
    </script>
</body>
</html>
