<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'weatherapp/css/main.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="color"></div>

    <img class="background-img" src="{% static 'weatherapp/img/height.png' %}" alt="">
    <header>
        <img src="" alt="" class="icon">
        <h1>YourWeather</h1>

        <nav>
            <ul>
                <li><a href="#">на сегодня</a></li>
                <li><a href="#">на 5 дней</a></li>
                <li><a href="{% url 'login' %}">Войти</a></li>
            </ul>
        </nav>
        

    </header>
    
    <div class="content-one">
    
        <h1 class="content-one-header">Узнайте погоду сейчас</h1>

        <div>
            <p style="margin-bottom: 20px;">Получите актуальные данные о погоде
                 в любом месте по координатам или названию.</p>

            <form action="" method="post" class="form-one">
                {% csrf_token %}
                <p>Введите координаты:</p>
                <input class="form-input" type="number" name="lat">
                <input type="number" name="lon">
                <button type="submit">Поиск</button>
            </form>

            <form action="" method="post" class="form-two">
                {% csrf_token %}
                <p>Введите название:</p>
                <input type="text" name="NameSity">
                <button type="submit">Поиск</button>
            </form>
        </div>
        
    </div>

    <!-- <div class="main-info">

        <div class="info">
            <h1>От шамана</h1>

            <p style="margin-top: 5px; font-size: 20px; ">Шаман утверждает что --</p>
            <p style="font-size: 25px; text-align: center;">{{shaman}}</p>
        </div>

        <div class="info">
            <h1>Yandex</h1>
            <ul>
                {% for i in info_yandex %}

                    <li class="name-sity">{{ i.city }}</li>
                    <li style="border-bottom: 1px solid white; padding-bottom: 5px;">{{ i.date }}</li>
                    <li class="temp">{{ i.temp }} °</li>
                    <img src="{{i.image}}" alt="">

                {% endfor %}
            </ul>

        </div>

        <div class="info" style="margin-right: 0;">
            <h1>OpenWeatherMap</h1>

            {% for i in info_openweather %}

                <li class="name-sity">{{ i.city }}</li>
                <li style="border-bottom: 1px solid white; padding-bottom: 5px;">{{ i.date }}</li>
                <li class="temp">{{ i.temp }} °</li>
                <img src="http://openweathermap.org/img/w/{{i.image}}.png" alt="">

            {% endfor %}

        </div>

    </div> -->
</body>
</html>
