{% extends 'weatherapp/index.html' %}
{% load static %}

{% block style_link %}
<link rel="stylesheet" href="{% static 'weatherapp/css/main.css' %}">
{% endblock style_link %}

{% block content %}
<div class="content-main">
    <div class="content-one">
        
        <h1 class="content-one-header">Узнайте погоду сейчас</h1>

        <div>
            <p style="margin-bottom: 20px;">Получите актуальные данные о погоде
                в любом месте по координатам или названию.</p>

            <form action="" method="post" class="form-one">
                {% csrf_token %}
                <p>Введите координаты:</p>
                <input type="number" name="lat" placeholder="Lat">
                <input type="number" name="lon" placeholder="Long">
                <button type="submit">Поиск</button>
            </form>

            <form action="" method="post" class="form-two">
                {% csrf_token %}
                <p>Введите название:</p>
                <input type="text" name="NameSity" placeholder="Name">
                <button type="submit">Поиск</button>
            </form>
        </div>
        
    </div>

    <div class="broshure">
        {% for i in info_openweather %}
        <div class="top-info">
            <p>{{i.city}}</p>
            <img src="http://openweathermap.org/img/w/{{i.image}}.png" alt="">
        </div>
        
        <div class="center-info">
            <p>{{i.date}}</p>
            <h1>{{i.temp}}°</h1>
        </div>

        <div class="bottom-info">
            <p>{{i.cloud}}</p>
            <p></p>
        </div>

        {% empty %}
            <h1 style="color: rgba(255, 0, 0, 0.454); text-align: center;">Введите данные</h1>
        {% endfor %}

    </div>
</div>

<div class="content-forecast">
    <div class="">

    </div>
</div>

{% endblock %}
    


    <!-- <div class="main-info">

        <div class="info">
            <h1>От шамана</h1>

            <p style="margin-top: 5px; font-size: 20px; ">Шаман утверждает что --</p>
            <p style="font-size: 25px; text-align: center;">{{shaman}}</p>
        </div>

        <div class="info">
            <h1>Yandex</h1>
            <ul>
                {% for i in info_yandex %}

                    <li class="name-sity">{{ i.city }}</li>
                    <li style="border-bottom: 1px solid white; padding-bottom: 5px;">{{ i.date }}</li>
                    <li class="temp">{{ i.temp }} °</li>
                    <img src="{{i.image}}" alt="">

                {% endfor %}
            </ul>

        </div>

        <div class="info" style="margin-right: 0;">
            <h1>OpenWeatherMap</h1>

            {% for i in info_openweather %}

                <li class="name-sity">{{ i.city }}</li>
                <li style="border-bottom: 1px solid white; padding-bottom: 5px;">{{ i.date }}</li>
                <li class="temp">{{ i.temp }} °</li>
                <img src="http://openweathermap.org/img/w/{{i.image}}.png" alt="">

            {% endfor %}

        </div>

    </div> -->
</body>
</html>
