{% extends 'weatherapp/index.html' %}

{% block content %}

<!-- <h1>{{user.username}}</h1>
<h1>{{user.email}}</h1> -->
<h1>Следить за погодой</h1>
<form method="POST">
    {% csrf_token %}
    {{form.NameSity}}
    <button type="submit" class="button-sity-form">Найти</button>
</form>

<h1 style="text-align: center; color: green;">Погода сегодня</h1>


    
<div class="info-sity">
<h1>OpenWeatherMap</h1>
{% for info in user_sity %}
<div class="info-sity-brochure">
    <h1>{{ info.city }}</h1>
    <h1>{{ info.temp }}</h1>
    <img src="http://openweathermap.org/img/w/{{ info.image }}.png" alt="Фото погоды" />

    <form method="post" class="delete-main-form">
        {% csrf_token %}
        <button type="submit" value="{{info.city}}" name="Delete">Delete</button>
    </form>
</div>
        
    {% endfor %}
</div>




{% endblock %}