{% extends 'weatherapp/index.html' %}

{% block content %}

<h1>Следить за погодой</h1>
<form method="POST">
    {% csrf_token %}
    {{form.NameSity}}
    <button type="submit" class="button-sity-form">Найти</button>
</form>

<h1 style="text-align: center; color: green;">Погода сегодня</h1>

<div style="column-count: 2;">

    <div>
        <h1>OpenWeatherMap</h1>
    
        {% for i in openweather %}
    
        <div>
            <h1>{{ i.city }}</h1>
            <h1>{{ i.temp }}</h1>
            <img src="http://openweathermap.org/img/w/{{i.image}}.png" alt="">
            <a href="{% url 'fore-open' i.city %}">Узнать на 5 дней</a>
        </div>
    
        {% endfor %}
    
    </div>
    
    <div>
        <h1>Yandex Weather</h1>
    
        {% for i in yandex %}
    
        <div>
            <h1>{{ i.city }}</h1>
            <h1>{{ i.temp }}</h1>
            <img style="background: black;" src="{{ i.image }}" alt="">
        </div>
    
        {% endfor %}
    
    </div>

</div>





{% endblock %}