.border-link li:nth-of-type(2) {
    border-bottom: 2px solid rgba(255, 153, 0, 0.546);
}

body {
    background-color: rgba(79, 79, 79, 0.297);
}

.form-main {
    margin: 20px 6%;
    background: linear-gradient(white, rgba(225, 225, 225, 0.457));
    padding: 20px 30px;
    border-radius: 15px;
    padding-top: 10px;
}

.form-main h1 {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(255, 153, 0, 0.546);
    padding-bottom: 10px;
}

.form-main div {
    display: flex;
    justify-content: space-between;
}

.form-main form {
    width: 50%;
}

.form-main form p {
    font-size: 20px;
    font-weight: 600;
}

.form-main form input {
    border-radius: 10px;
    border: 1.5px solid black;
    height: 40px;
    background: rgba(0, 0, 0, 0.171);
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s;
    padding-left: 10px;
}

.form-main form:nth-of-type(1) input {
    width: 60.5%;
}

.form-main form:nth-of-type(2) input {
    width: 30%;
}

.form-main form input:focus {
    outline: none;
    border-color: green;
}

.form-main form button {
    border-radius: 10px;
    border: solid 1.5px rgba(255, 153, 0, 0.546);
    color: rgba(255, 153, 0);
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    width: 20%;
    transition: 0.5s;
    background: none;
}

.form-main form button:hover {
    color: black;
    background-color: rgba(255, 153, 0, 0.546);
}

.broshure-forecast {
    margin: 10px 6%;
    background: linear-gradient(white, rgba(225, 225, 225, 0.457));
    padding: 20px;
    border-radius: 15px;
}

.broshure-forecast-flex {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.forecast-info {
    border-left: 1px solid rgba(255, 153, 0, 0.546);
    padding: 0 10px;
    text-align: center;
    width: 15%;
}
.forecast-info p {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}

.forecast-info p:nth-of-type(1) {
    font-size: 20px;
    font-weight: 600;
}

.broshure-forecast-flex div:last-child {
    border-right: 1px solid rgba(255, 153, 0, 0.546);
}

@media screen and (max-width: 500px) {
    .form-main,
    .form-main div,
    .form-main div form {
        display: block;
        width: 100%;
    }
    .form-main {
        margin: 0;
        margin-top: 80px;
    }
    .form-main div {
        text-align: center;
    }
    .form-main div form:nth-of-type(1) {
        margin-bottom: 20px;
    }
    .broshure-forecast-flex {
        overflow-x: auto;
        padding-bottom: 20px;
    }
    .broshure-forecast h1 {
        text-align: center;
    }
    .forecast-info {
        width: 150px;
    }
    .broshure-forecast {
        margin: 10px 0;
        padding-bottom: 0px;
    }
}




