.border-link li:nth-of-type(1) {
    border-bottom: 2px solid rgba(255, 153, 0, 0.546);
}

.content-main {
    display: flex;
    justify-content: space-between;
}

.content-one {
    margin: 20px 6%;
    border-radius: 7px;
    padding: 15px 20px;
    width: 55%;
    height: 600px;
    display: inline-block;
    margin-right: 0;
}

.content-one-header {
    margin-top: 100px;
    color: black;
    font-size: 45px;
    margin-bottom: 25px;
    border-bottom: 3px solid rgba(255, 153, 0, 0.546);
    display: inline-block;
}

.content-one div p {
    font-weight: 550;
    font-size: 20px;
}

.content-one div form {
    margin-bottom: 20px;
}

.weather-servis {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 5px;
}

.weather-servis span {
    background-color: rgba(0, 0, 0, 0.386);
    border-radius: 10px;
    padding: 5px;
}

.open-weather.active,
.yandex.active {
    background-color: rgba(255, 153, 0, 0.546);
    color: none;
}

.form-one input,
.form-two input {
    border-radius: 10px;
    border: solid 1.5px black;
    height: 40px;
    background: rgba(0, 0, 0, 0.171);
    transition: 0.2s;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
}

.form-one input{
    width: 30%;
}
.form-two input {
    width: 60.5%;
}

.form-two input:focus,
.form-one input:focus {
    outline: none;
    border-color: green;
}

.form-one button, 
.form-two button {
    border-radius: 10px;
    border: solid 1.5px rgba(255, 153, 0, 0.546);
    color: rgba(255, 153, 0);
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    width: 20%;
    transition: 0.5s;
    background: none;
}
.form-one button:hover, 
.form-two button:hover {
    color: black;
    background-color: rgba(255, 153, 0, 0.546);
}


.broshure-yandex.active,
.broshure-openweather.active {
    display: inline-block;
    position: relative;
    width: 35%;
    height: 600px;
    background: linear-gradient(white, rgba(225, 225, 225, 0.062));
    margin: 20px 6%;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 0;
}

.broshure-openweather,
.broshure-yandex {
    display: none;
}

.servis-name {
    text-align: center;
    border-bottom: 2px solid rgba(255, 153, 0, 0.546);
    padding-bottom: 15px;
}

.top-info {
    margin: 20px; 
}

.top-info p{
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    margin-top: 25px;
}

.top-info img {
    float: right;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.208);
    border-radius: 20px;
}

.center-info {
    margin-top: 50px;
    text-align: center;
}

.center-info p{
    font-size: 25px;
    font-weight: 600;
}

.center-info h1 {
    font-size: 60px;
    font-weight: 1000;
    margin: 15px 0;
}

.bottom-info h1 {
    font-size: 25px;
    font-weight: 1000;
    text-align: center;
}

.bottom-info p {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}




