.content-one {
    margin: 20px 6%;
    border-radius: 7px;
    padding: 15px 20px;
    width: 55%;
    height: 600px;
}

.content-one-header {
    margin-top: 100px;
    color: black;
    font-size: 45px;
    margin-bottom: 25px;
    
}

.content-one div p {
    font-weight: 600;
    font-size: 20px;
}

.content-one div form {
    margin-bottom: 20px;
}

.form-one input,
.form-two input {
    border-radius: 0;
    border: 1px solid rgb(184, 184, 184);
    height: 40px;
    background: linear-gradient(white, rgb(225, 225, 225));
    transition: 0.2s;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
}

.form-one input{
    width: 30%;
}
.form-two input {
    width: 60.5%;
}

.form-two input:focus,
.form-one input:focus {
    outline: none;
    border: 1px solid rgb(103, 103, 255);
}

.form-one button, 
.form-two button {
    height: 40px;
    border-radius: none;
    border: 1px solid rgb(184, 184, 184);
    background: rgb(203, 238, 255);
    font-weight: 600;
    font-size: 14px;
    width: 20%;
    transition: 0.5s;
}
.form-one button:hover, 
.form-two button:hover {
    background: rgb(162, 211, 255);

}